{% include base_path %}

<!-- Foundation site icons --> 
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/logo_name.png"> 
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/logo_name.png"> 
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/logo_name.png"> 
<link rel="icon" type="image/png" href="{{ base_path }}/images/logo_name.png"> 
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="theme-color" content="var(--global-bg-color)">
